@font-face {
    font-family: pixel_font;
    src: url(Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
  }
  
h2{
    font-family: pixel_font;
}
body{
    background-color: black;
    font-family:Courier;
    color: lightgreen;
}
.num{
    font-family: inherit;
    width:90px;
    height:90px;
    text-align:center ;
    background-color: grey;
    color: inherit;
    font-size: 300%;
}
#input{
    display: flex;
    justify-content: center;
   
    /* overflow-x: auto; */
    /* align-items: center; */ /*  vertical align  */
}
#res{
    display: flex;
    justify-content: center;
}

#Buttons{
    display: flex;
    align-items: center;
    flex-direction: column; /* Change direction to vertical */
}

button{
    font-family: pixel_font;
    font-size:120%;
    height:33%;
    width: 100%;
}

@media  (max-width: 1200px) { /* Adjust the width as per your phone breakpoint */
    #input {
        display: flex;
        align-items: center;
        flex-direction: column; /* Change direction to vertical */
    }
    .num{
        flex: 1 1 auto;
        width:60px;
        height:60px;
    }
    #Buttons{
        height:50px;
        width:50%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    button{
        height:100%;
        width: 33%;
    }
}