body{
    background-color: black;
    font-family:Courier;
    color: lightgreen;
}
.num{
    font-family: inherit;
    width:100px;
    height:100px;
    text-align:center ;
    background-color: grey;
    color: inherit;
    font-size: 50px;
}
#input{
    display: flex;
    justify-content: center;
   
    /* overflow-x: auto; */
    /* align-items: center; */ /*  vertical align  */
}
#res{
    display: flex;
    justify-content: center;
}

button{
    font:inherit;
}

@media  (max-width: 1200px) { /* Adjust the width as per your phone breakpoint */
    #input {
        display: flex;
        align-items: center;
        flex-direction: column; /* Change direction to vertical */
    }
    .num{
        flex: 1 1 auto;
        width:50px;
        height:50px;
        font-size: 30px;
    }
}